

.topnav {
  background-color: #66A7F3;
  padding: 30px
}

a:link {
  text-decoration: none;
}

h1 {
  color: white;
  font-size: 32px;
  font-family: Arial,Verdana,Sans-serif;
  padding: 0px 50px 0px 50px;
  display: inline


}

a {
  color: white;
  font-size: 18px;
  font-family: Arial,Verdana,Sans-serif;
  display: inline;
  padding: 30px
}

.grayBackground {
  background-color: #DDDEE0;
  padding: 5px;
  margin-left: 20px;
  margin-top: 20px;
  margin-right: 20px;
}

h2 {
  color: #595555;
  font-size: 24px;
  font-family: Arial,Verdana,Sans-serif;
  padding: 0px 20px 0px 0px;


}

.grayText {
  color: #595555;
  font-size: 12px;
  font-family: Arial,Verdana,Sans-serif;
}

h3 {
  color: #477DC4;
  font-size: 24px;
  font-family: Arial,Verdana,Sans-serif;
  font-weight: lighter;
  margin-left: 20px;
  margin-bottom: 0px;
  margin-right: 20px;
}

.p-indent {
  font-family: Arial,Verdana,Sans-serif;
  font-size: 11px;
  margin-left: 20px;
  margin-bottom: 0px;
  margin-right: 20px;
}

.comments-div {
  background-color: #E6943B;
  margin-left: 20px;
  margin-top: 0px;
  margin-right: 20px;

}

h4 {
  display: inline;
  color: white;
  font-family: Arial,Verdana,Sans-serif;
  font-size: 12px;
  font-weight: lighter;
  padding: 20px;
}

.container {
  margin: 20px;
}

.floating-box {
  display: inline-block;
  width: 200px;
  height: 150px;
  margin: 50px;
  background-color: #DDDEE0;
}

h5 {
  font-family: Sans-serif;
  font-weight: lighter;
  font-size: 30px;
  text-align: center;

}

.p-articles {
  color: grey;
  font-family: Sans-serif;
  font-weight: lighter;
  font-size: 12px;
  text-align: center;
}
